.new-publication {
    max-width: 25%; 
    margin-left: auto; 
    margin-right: auto;
  }
  
  .new-publication-card {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-self: initial;
  }
  .publication-list{
    max-width: 90%; 
    margin-left: auto; 
    margin-right: auto;
  }