<div style="padding-right: 20px; padding-top: 60px; padding-bottom: 30px;">  
    <mat-card class="registration-card">
        <mat-card-header>
            <mat-card-title style="padding-left: 55px;">Registration</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding-left: 35px;">
            <p>
                <mat-form-field>
                    <input matInput placeholder="Login" #userName type="text" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Email" #email type="email" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Phone" #phoneNumber type="text" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Password" #password type="password" required>
                </mat-form-field>
            </p>
        </mat-card-content>
        <mat-card-actions style="padding-bottom: 10px;">
            <button mat-raised-button color="accent" (click)="onRegistration(userName.value, email.value, phoneNumber.value, password.value)">Register</button>
            <button mat-raised-button color="accent" routerLink="/login">Login</button>
        </mat-card-actions>
    </mat-card>
</div>
